* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #db517d;
  color: #fff;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-color: #000;
  border-width: 10px;
  background-color: rgb(241, 195, 195);
  color: #020202;
  border-radius: 5px;
  cursor: pointer;
}

.user-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-card img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  margin-bottom: 1rem;
}
.user-card h2:hover {
  color: #db517d;  
}
.user-card p:hover {
  color: #db517d;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}